.error{
    color: red;
}
.info{
    color:green;
}
.adding {
    color: green;
    padding:0 10px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.auth {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.auth>span {
    color: blue;
    cursor: pointer;
    padding: 15px 15px;
    margin: 0 30px;
    border-radius: 20px;
    transition: background 1s ease-out;

}

.auth>span:hover {
    background: #ccf;
}

.auth>span:last-child:hover {
    background: #fcc;
}

.auth>span:last-child{
    color: red;
}

.profile{
    display: flex;
}

.profile_image-block{
    width: 700px;
    height: 450px;
    border: 1px solid black;
    margin-right: 20px;
}

.profile_image-block>img{
    width: inherit;
    height: inherit;
}

.profile_info {
    display: flex;
    flex-direction: column;
}

.profile_info>span{
    font-size: 20px;
}

.eats {
    display: flex;
}